
.myjumbotron {
    background-image: url("../../images/background.jpg");
}

.myconjumbotron {
    background-image: url("../../images/background.jpg");
    background-position: center;
    margin: 0;
    margin-top: 50px;
}
.mymailto {
    color: black;
}

.myfootlogo {
    position: relative;
    max-width: 3%;
    left: 10px;
}

.myicons {
    position: relative;
    left: 250px;
    padding: 25px;
}

.myicons i {
    margin-left: 50px; 
    color: black;
}

.myicons i:hover {
    color: #343a40;
}

